<p class="display-4 text-center floating">product-list works!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Number</th>
        <th scope="col">Is in stock</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.number}}</td>
        <td>{{product.isInStock}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
